{% extends 'AdminBundle:Admin:base.html.twig' %}

{% form_theme admin.data.form 'AdminBundle:Form:fields.html.twig' %}

{% block admin_page_content_content %}
    <div class="row">
        <div class="col-lg-9">
            <div class="box box-primary">
                <div class="box-body table-responsive ">
                    <div class="admin-ba-collapsed-fields">
                        {% include 'AdminBundle:Admin:form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="box box-primary">
                <div class="box-body table-responsive text-center">
                    {% set list = admin.service.listCheck ? admin.generatePathName('list') : false %}
                    {% if list %}
                        <div>
                            <a class="btn btn-success " href="{{ path(list) }}">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                Вернуться к списку
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}