{% extends 'AdminBundle:Admin:base.html.twig' %}


{% block title %}
    Инструкция
{% endblock title %}


{% block admin_page_content_header %}
    <div class="row">
        <div class="col-lg-6" style="min-width: 790px;">
            {% include 'AdminBundle:Admin:instruction.html.twig' %}
        </div>
        <div class="col-lg-4" >
            <h2 style="background-color: #ffffff; text-align: center; margin: 0;" >Разработка и поддержка SHEEP.FISH</h2>
            <img src="/bundles/adminbundle/logo.jpg" alt="" style="width: 100%;">
        </div>
    </div>

{% endblock admin_page_content_header %}