{% extends 'MainBundle:Profile:base.html.twig' %}

{% block cabinet_tab %}
    <div class="cabinet-tab active">
        <div class="change-password-form">

            <form action="{{ path('fos_user_change_password') }}" class="change-password" method="post">
                <h2 class="title title-left">Пароль</h2>
                {% if form_message is defined and form_message %}
                    <div class="form-field " style="color: #99d6bc;">
                        {{ form_message }}
                    </div>
                {% endif %}
                {% if form_error is defined and form_error %}
                    <div class="form-field " style="color: red;">
                        {{ form_error }}
                    </div>
                {% endif %}
                <div class="form-field">
                    <input type="password" name="form[current]" class="el-input" placeholder="Старый пароль" required="required">
                </div>
                <div class="form-field">
                    <input type="password" name="form[new_one]" class="el-input" placeholder="Новый пароль" required="required">
                </div>
                <div class="form-field">
                    <input type="password" name="form[new_conform]" class="el-input" placeholder="Подтверждение пароля" required="required">
                </div>
                <div class="buttons">
                    <input type="submit" class="el-button" value="Сохранить">
                    <a href="{{ path('fos_user_change_password') }}" class="cancel">Отмена</a>
                </div>
            </form>
        </div>
    </div>
{% endblock cabinet_tab %}