{% extends 'MainBundle:Default:base.html.twig' %}

{% block content %}
    <section class="wrap-forgot">
        <div class="mbox2">
            <div class="forgot-content">
                <div class="entrance-form">
                    <div class="title"><h1>Сброс пароля</h1></div>
                    <div class="form-field">
                        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
                    </div>
                </div>
                <div class="links">
                    <a href="{{ path('fos_user_security_login') }}">Вход</a>
                    <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}